@theme {
  /* Background */
  --color-primary: #edeff0;
  --color-secondary: #bedeff;
  --color-accent: #004e89;
  
  /* Text */
  --color-text-primary: #004e89;
  --color-text-secondary: #004e89;
  --color-text-accent: #edeff0;

  /*https://www.canva.com/design/DAHHBcZ-N7I/KaCHI5gbuLvvVFKlveiO5w/edit?ui=eyJFIjp7Im0iOnRydWUsIkE_IjoiQSIsIkEiOiJibHVlIn0sIkciOnsiQiI6dHJ1ZX19*/
}
